<!DOCTYPE html>
<html>
  <head>
    <title>Friends</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
  <%= render 'home/header'%>
  <br>

  <p class="notice"><%= notice %></p>
   <br> 
    <div class='container'>
      <%= yield %>
    </div>
    <%= render 'home/footer'%>
  </body>
</html>
